

.main{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
   
}


.blue{
    height: 30%;
    width: 50%;
    background-color:#546c6c;
    margin-top: 30px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
}
.blue img{
    width: 50%;
    height: 90%;
    margin-left: 22vw;
    margin-top: 14px;
}
.first{
    display: flex;
    gap: 5em;
}
.content{
    margin-top: 30px;
}
.name{
    font-weight: bolder;
    margin-top: 70px;
    font-size: 5rem;
    color:#698c8c;
}
.tittle{
    font-weight: 500;
    font-size: 5rem;
    color:#546c6c;
    margin-top: -95px;
    font-family:   Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 100px;
    border-bottom: 3px solid #5a7070 ;
}
.desig{
    font-weight: 100;
    margin-top: -50px;
    font-size: 5rem;
    color:#698c8c;
}
.tools h2 {
    margin-left: 8.5rem;
    margin-top: 3rem;
    font-size: 4rem;
    color: #587272 ;
}
.tools ul {
    margin-left: 7rem;
    font-size: 2rem;
    color: #698c8c ;
}
.tools p{
    margin-left: 8rem;
    color: #698c8c ;
    font-size: 2rem;
}
.left{
    border-right: 1px solid #394848 ;
    padding-right: 190px;
    margin-top: 10px;
    padding-bottom: 100px;
}
.second{
    display: flex;
    
}

.tool p{
    margin-left: 3rem;
    font-size: 2rem;
    color: #698c8c ;
    margin-top: 2rem;
    margin-right: 250px;
}
.tool h2 {
    margin-left: 3.5rem;
    font-size: 3rem;
    margin-top: 3rem;
    color: #587272 ;
}
.tool ul {
    margin-left: 2.5rem;
    font-size: 2rem;
    color: #698c8c ;
}
.tool ul li{
    padding-top: 10px;
}
@media only screen and (max-device-width: 1400px) {
    .blue img{
        margin-left: 18rem;
    }
}
@media only screen and (max-device-width: 1300px){
    .tool p{
        
        margin-right: 50px;
    }
    .left{
      
        padding-right: 50px;
        
    }
}

@media only screen and (max-device-width: 1193px){
.blue img{
    margin-left: 15rem;

}
.tool p{
        
    margin-right: 50px;
}
.left{
  
    padding-right: 50px;
    
}
}
@media only screen and (max-device-width: 1100px){
    .desig{
       
        font-size: 3rem;
       
    }
    .tool p{
        
        margin-right: 50px;
    }
    .left{
      
        padding-right: 50px;
        
    }
}
@media only screen and (max-device-width: 1100px){
    .second{
        display:initial;
        
    }
    .tool p{
        
        margin-left: 9rem;
    }
    .tool h2{
        margin-left: 9rem;
        font-size: 4rem;
        margin-top: -80px;
    }
    .hobby{
        padding-top: 100px;
    }
    .tool ul {
        margin-left: 10rem;
    }
    .left{
        border-right: 0px solid #394848 ;   }

}
@media only screen and (max-device-width: 989px){
    .blue img{
        margin-left: 12rem;
    }
    .content{
        margin-top: 0px;
    }

}
@media only screen and (max-device-width: 900px){
    .blue img{
        margin-left: 9rem;

    }
    .content{
        margin-left: 8rem;
    }
  
    .first{
        display: initial;
    }
}
@media only screen and (max-device-width: 580px){
    .blue img{
        margin-left: 7rem;

    }
}
@media only screen and (max-device-width: 480px){
    .blue img{
        margin-left: 5rem;

    }
}